.btn_div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.button {
  background-color: rgb(246, 255, 0);
  border-radius: 3px;
  text-transform: capitalize;
}
.button:hover,
.button:focus {
  background-color: aqua;
}
